.header {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  font-family: Montserrat;
  color: #ff6060;
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 15px;
}

.menu {
  /* border: 1px solid red; */
  display: flex;
  list-style: none;
}

.menu_item {
  /* border: 1px solid orange; */
  margin: 0 25px 0 25px;
  text-decoration: none;
  &--active{
    text-decoration: underline !important;
  }
}
