.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 15px;

    &__logo{
      height: 100%;
    }

    &__nav{
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__menu {
      display: flex;
      list-style: none;
      padding: 0px;

      .menu__item {
        margin: 0 25px 0 25px;
        width: 80px;
        text-align: center;
          &--active{
            text-decoration: underline !important;
          }
      }
    }
}

@media screen and (max-width: $tablette) {
}

@media screen and (max-width: $mobile) {
  
  .header{
    height: 45px;
    .menu__item {
      margin: 0 8px 0 8px;
      width: 60px;
    }
  }
}
@media screen and (max-width: 320px) {
  
  .header{
    &__logo{
      width: 50%;
    }
    .menu__item {
      margin: 0 4px 0 4px;
      width: 60px;
    }
  }
}