.header {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 15px;

    &__logo{
      // border: 1px solid red;
      height: 100%;
    }

    &__nav{
      // border: 1px solid black;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__menu {
      // border: 1px solid red;
      display: flex;
      list-style: none;
      padding: 0px;

      .menu__item {
        // border: 1px solid red;
        margin: 0 25px 0 25px;
        
          &--active{
            text-decoration: underline !important;
          }
      }
    }
}


@media screen and (max-width: 600px) {
  
  .header{
    height: 45px;

    .menu__item {
      margin: 0 15px 0 15px;
    }

  }

}
