// 
// ************  EXEMPLE ************
// 
// %message-shared {
//     border: 1px solid #ccc;
//     padding: 10px;
//     color: #333;
//   }
//   .message {
//     @extend %message-shared;
//   }
  
%centerByFlexBoxe{
    display: flex;
    justify-content: center;
    align-items: center;
}