// 
// ************  EXEMPLE ************
// 
// $font-stack: Helvetica, sans-serif;
// $primary-color: #333;

// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }


$primary-color-text: #ff6060;
$tablette: 992px;
$mobile: 768px;
