.aPropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}



// ICI COMMENCE LE COLLAPSE !!!!!!!!!!!!
.collapse{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.collapse-btn{
    background-color: $primary-color-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 100%; 
    margin: auto;
    cursor: pointer;

    span{
        margin: 10px;
        color: white;
        font-weight: 600;
    }
    .row{
        margin: 10px;
    }
    .row-top{
        transform: rotate(-180deg);
        transition: transform 0.5s;
    }
    .row-down{
        transform: rotate(0deg);
        transition: transform 0.5s; 
    }
}

.collapse-btn--open{
    border-radius: 5px 5px 0 0;
    }

.content {
    background-color:  #F6F6F6;
    border-radius: 0 0 5px 5px;
    width: 100%; 
    margin: auto;
    padding: 1rem;
}
    
.content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.9s;
}