@keyframes flash {
  0%   {
    font-weight: 600;
    scale: 1;
  }
  50%  {
    font-weight: 300;
    scale: 1.1;
  }
  100%  {
    font-weight: 600;
    scale: 1;
  }
}

.error {
  @extend %centerByFlexBoxe;
  flex-direction: column;

  .error__title{
    font-size: 280px;
    margin: 30px;
  }
  .error__text{
    font-size: 36px;
    margin: 30px;
  }
  .error__link{
    font-size: 20px;
    margin: 50px;
    text-decoration:underline;
    animation-name: flash;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  }
}