@keyframes flash {
  0%   {
    font-weight: 600;
    scale: 1;
  }
  50%  {
    font-weight: 300;
    scale: 1.1;
  }
  100%  {
    font-weight: 600;
    scale: 1;
  }
}

.error {
  @extend %centerByFlexBoxe;
  flex-direction: column;

  &__title{
    font-size: 20em;
    margin: 30px;
  }

  &__text{
    font-size: 36px;
    text-align: center;
    margin: 30px;
  }

  &__link{
    font-size: 20px;
    margin: 50px;
    text-decoration:underline;
    animation-name: flash;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
  }
}
@media screen and (max-width: $tablette) {
}
@media screen and (max-width: $mobile) {

  .error {
 
    &__title{
      font-size: 7em;
    }
  
    &__text{
      font-size: 1em;
      text-align: center;
      margin: 30px;
    }
  
    &__link{
      font-size: 1em;
    }
  }
  
}