.main {
  /* border: 1px solid black; */
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}

.main__ctn {
  padding: 3.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 1.5625rem;
  background: #f6f6f6;
}
