// Variables
@import './abstract/variables';
// EXTENDS
@import './abstract/extends';
// MIXINS
@import './abstract/mixins';

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  color: $primary-color-text;
  font-size: 100%;
}

body {
  margin: auto;
}
.App{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
// HEADER & MAIN & FOOTER
@import './layout/header';
.main {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}
@import './layout/footer';

// PAGES
@import './pages/aPropos';
@import './pages/error';
@import './pages/ficheLogement';
@import './pages/home';

// COMPONENTS
@import './components/card';
@import './components/collapse';
@import './components/slider';
@import './components/loader';

@media screen and (max-width: $tablette) {
}
@media screen and (max-width: $mobile) {
  
  *{
    font-size: 98%;
  }

}