* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  color: #ff6060;
}

body {
  /* max-width: 1400px; */
  margin: auto;
}

.main {
  /* border: 1px solid black; */
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}
