// Variables
@import './styles/variables';
// EXTENDS
@import './styles/extends';
// MIXINS
@import './styles/mixins';

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  color: $primary-color-text;
}

body {
  margin: auto;
}

.main {
  width: 90%;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}

// PAGES
@import './styles/pages/aPropos';
@import './styles/pages/error';
@import './styles/pages/ficheLogement';
@import './styles/pages/home';
// HEADER & FOOTER
@import './styles/components/header';
@import './styles/components/footer';
// COMPONENTS
@import './styles/components/card';
@import './styles/components/mainHead';
